*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(235, 235, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;
}

.main_Container {
    position: fixed;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 600px;
    background: #ffff;
    /* display: grid;
    grid-template-columns: 300fr 300fr; */
    box-shadow: 0 40px 50px grey;
}
.sub_Container{
    position: fixed;
    margin: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 600px;
    height: 400px;
    width: 200px;

}
.box1 {
    width: 100px;
	height: 200px;
	margin: 40px;
	transition: all 1s;
    display: flex; /* it allows to bring objects to center*/
	flex-wrap: wrap;
	justify-content: center; /* it performs action to bring object center. if there is flex */
}

.image_1{
    width: 1300px;
    height: 400px;
    margin: 30px;
    padding-left: 300px;
    padding-bottom: 150px;
    object-fit: cover;
	margin: 40px;
	transition: all 1s;
}

.box2 {
    padding-top: 90px;
    padding-left: 100px;
    width: 500px;
	height: 300px;
    /* display: flex; /* it allows to bring objects to center*/	 */
	/* justify-content: center; it performs action to bring object center. if there is flex */
}

.Head{
    padding: 40px;
    padding-bottom: 40px;
     display: flex; /* it allows to bring objects to center*/	
	justify-content: center; /* it performs action to bring object center. if there is flex */
    
}
   